<div>
  <h1 class="text.lg font-bold">About</h1>
  <p class="text-xs">Lorem ipsum dolor <span highlight>sit amet consectetur adipisicing elit.</span> Officiis quis asperiores quae non quisquam, delectus mollitia tempore explicabo eligendi facere exercitationem laborum minus recusandae sequi quidem iste incidunt harum illo.</p>
  <p class="text-xs">Numero de clientes: @if (duration() > 0) {
    <app-counter [duration]="duration()" [message]="message()"/>
  } </p>

  <div>
    <app-wave-audio #wave audioUrl="assets/audio.mp3"></app-wave-audio>
  </div>
</div>
